*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  background-color: #FFF7ED;
  color: #333;
}

/* Header Component styles */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
a{
  text-decoration: none;
  color: #333;
}
.site-logo{
  font-size: 1.3rem;
  font-weight: bold;
  color: #161616;
}

.nav-links{
  display: flex;
  gap: 1.5em;
  font-size: 1.2rem;

}

.nav-links a:hover{
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

/* Footer component styles */
footer{
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 1.2rem;
}
/* Home page styles */
.home{
  color: #fff;
  background-image: url("./assets/images/home-hero.png");
  background-size: cover;
  background-position: center;
  height: 100vh;

}
.home-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}
.home-banner h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-banner p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home-banner a{
  background-color: #FF8C38;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.home-banner a:hover{
  background-color: #e5670d;
}
/* About page styles */
.about-page{
  max-width: 800px;
  margin: auto;
  height: 100vh;
}
.about-content{
  padding: 2rem;
  text-align: left;
}
.about-page img{
  width: 100%;
  height: 200px;
}
.about-page h1{
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.about-content p{
  font-size: 1.2rem;
  line-height: 1.6;
  
}
.about-banner{
  margin-top: 1em;
  padding: 2em;
  width: 100%;
  background-color: #FFCC8D;
  color: #161616;
  border-radius: 10px;
}
.about-banner a{
  display: inline-block;
  margin-top: 1em;
  background-color: #161616;
  color: #fff;
  padding: 0.8em 1em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
/* Vans component styles */

.van-card{
  margin-bottom: 3em;
  padding: 1em;
}
.van-card img{
  width: 100%;
  object-fit: cover;

}
.van-card h2{
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.van-list-container h1{
  text-align: center;
  margin: 1em 0;
}
.van-card p{
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.van-detail-card img{
  width: 100%;
  height: 350px;

}
.van-detail-card{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1em;
  padding: 1em;
  /* max-width: 600px; */
}
.primary-button{
  background-color: #FF8C38;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}
/* Host layout styles */
.host-layout-nav a{
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  margin: 0 1em 1em 0;
}
.host-layout-nav{
  text-align: center;
  margin: 2em 0;

}
/* host Dashboard styles */
.host-layout-dashboard{
  padding: 3em 1em;
  text-align: center;
}
/* Host Income styles */

.host-layout-income{
  padding: 3em 1em;
  text-align: center;
}
/* Host Reviews styles */
.host-layout-reviews{
  padding: 3em 1em;
  text-align: center;
}
/* Host Vans styles */
.host-layout-vans{
  padding: 3em 1em;
  text-align: center;
  
}
.host-van-card{
  display: flex;
  padding: 1em;
  gap: 1em;
  margin-bottom: 2em;
  background-color: #FFF;
  border-radius: 10px;
}
.host-van-card img{
  width: 150px;
}
.host-van-card h2{
  font-size: 1rem;
  margin: 0.5em 0;
}
.host-van-card button{
  font-size: 1.2rem;
  margin-bottom: 0.5em;

}
/* Host van details styles */
.host-van-details{
  padding: 3em 1em;
  text-align: center;
  background-color: #FFF;
}
.host-van-details-container img{
  width: 150px;
}
.host-van-details-container{
  display: flex;
  gap: 0.5em;
}
.host-van-details-info h2{
  font-size: 1rem;
  margin: 1em;
}